* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2d7d9;
}

.app {
  margin: 20% auto;
  width: 50%;
  padding: 10px 0;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
  margin-right: 10px;
  flex-shrink: 0;
  background-color: #9cb4cc;
  height: 150px;
}

.item:last-child {
  margin-right: 0;
}

.item-50 {
  width: 50px;
}

.item-80 {
  width: 80px;
}

.item-100 {
  width: 100px;
}

.item-200 {
  width: 200px;
}

.item-300 {
  width: 300px;
}

.item-400 {
  width: 400px;
}
